In [1]:
#Successfully installed mysql-connector-python-9.4.0

In [6]:
import pandas as pd
import mysql.connector
import numpy as np

In [7]:
df1= pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\astc.csv")
df2 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\bsrtc_bus.csv")
df3 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\ctu.csv")
df4 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\jksrtc.csv")
df5 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\kaac_bus.csv")
df6 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\ksrtc.csv")
df7=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\ksrtc.csv")
df8 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\nbstc.csv")
df9 = pd.read_csv (r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\pepsu.csv")
df10 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\wbstc.csv")

Al_df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10],ignore_index=True)

In [8]:
Al_df

,Route Name,Route Link,Bus Name,Bus Type,Departure Time,Duration,Arrival Time,Star Rating,Price,Seats Available
0,Tezpur to Guwahati Bus,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Assam State Transport Corporation (ASTC) - 168821,Bharat Benz A/C Seater (2+2),15:45,04h 45m,20:30,3.8,298.00,8.0
1,Tezpur to Guwahati Bus,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Assam State Transport Corporation (ASTC) - 161055,Volvo AC Seater 2+2,16:15,04h 15m,20:30,4.1,298.00,7.0
2,Tezpur to Guwahati Bus,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Chartered Bus - ASTC,A/C Seater Push Back (2+2),11:30,04h 45m,16:15,4.2,442.46,21.0
3,Tezpur to Guwahati Bus,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Pranjit Travels (Under ASTC),NON A/C Seater (2+1),11:30,05h 15m,16:45,4.1,450.00,6.0
4,Tezpur to Guwahati Bus,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Chartered Bus - ASTC,Volvo Multi-Axle I-Shift B11R Semi Sleeper (2+2),13:00,04h 00m,17:00,4.5,388.00,1.0
...,...,...,...,...,...,...,...,...,...,...
4933,Mandarmani to Kolkata Bus,https://www.redbus.in/bus-tickets/mandarmani-t...,Subhadip Travels(Jagannath),A/C Executive (2+3),14:40,04h 15m,18:55,3.0,300.00,32.0
4934,Mandarmani to Kolkata Bus,https://www.redbus.in/bus-tickets/mandarmani-t...,Aradhana Bus Service,A/C Seater / Sleeper (2+2),23:20,04h 40m,04:00,3.0,300.00,32.0
4935,Mandarmani to Kolkata Bus,https://www.redbus.in/bus-tickets/mandarmani-t...,Ankita Paribahan,Non AC Seater (2+3),19:00,04h 00m,23:00,3.0,300.00,32.0
4936,Mandarmani to Kolkata Bus,https://www.redbus.in/bus-tickets/mandarmani-t...,Aradhana Travels,Non AC Seater (2+3),22:15,05h 10m,03:25,3.0,300.00,32.0
4937,Mandarmani to Kolkata Bus,https://www.redbus.in/bus-tickets/mandarmani-t...,Snemita Paribahan,A/C Seater (2+3),14:30,04h 00m,18:30,3.0,300.00,32.0

In [9]:
Al_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4938 entries, 0 to 4937
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route Name       4938 non-null   object
 1   Route Link       4938 non-null   object
 2   Bus Name         4938 non-null   object
 3   Bus Type         4938 non-null   object
 4   Departure Time   4938 non-null   object
 5   Duration         4938 non-null   object
 6   Arrival Time     4938 non-null   object
 7   Star Rating      4938 non-null   float64
 8   Price            4938 non-null   float64
 9   Seats Available  4938 non-null   float64
dtypes: float64(3), object(7)
memory usage: 385.9+ KB

In [10]:
print(Al_df.dtypes)

Route Name          object
Route Link          object
Bus Name            object
Bus Type            object
Departure Time      object
Duration            object
Arrival Time        object
Star Rating        float64
Price              float64
Seats Available    float64
dtype: object

In [11]:
path =r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\Al_df.csv"
Al_df.to_csv(path, index = False)

In [12]:
# Drop rows where bus_name is null
Al_df.dropna(subset=["Bus Name"],inplace=True)

# Optional: Check the shape of the DataFrame to see how many rows were dropped
print(f"Remaining rows after dropping null bus_name: {Al_df.shape[0]}")

Remaining rows after dropping null bus_name: 4938

In [13]:
# Count of null values in the bus_name column
null_count = Al_df["Bus Name"].isnull().sum()

print(f"Count of null values in 'Bus_name': {null_count}")

Count of null values in 'Bus_name': 0

In [14]:
# Count of null values in the 'Bus Type' column
null_count = Al_df["Bus Type"].isnull().sum()

print(f"Count of null values in 'Bus Type': {null_count}")

Count of null values in 'Bus Type': 0

In [15]:
# Drop rows where bus_type is null
Al_df.dropna(subset=["Bus Type"],inplace=True)

# Optional: Check the shape of the DataFrame to see how many rows were dropped
print(f"Remaining rows after dropping null bus_type: {Al_df.shape[0]}")

Remaining rows after dropping null bus_type: 4938

In [16]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "3LwfumS4VReTvMP.root",
  password = "Vkv8T8iwdhFqvIqK",
  database = "redbus",
)

# Create a cursor from the connection
my_cursor = connection.cursor()

In [17]:
# Table Creation
my_cursor.execute("""CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Route_name VARCHAR(255) NULL,
                  Route_link VARCHAR(255) NULL,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL
                  
                  
                  
                  )""")
print("Table Created successfully")

Table Created successfully

In [18]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Route_name,
                    Route_link,
                    Bus_name,
                    Bus_type,
                    Start_time,
                    Total_duration,
                    End_time,
                    Ratings,
                    Price,
                    Seats_Available)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Al_df.values.tolist()

my_cursor.executemany(insert_query, data)

connection.commit()

print("Values inserted successfully")

Values inserted successfully